*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}



.maincontainer{
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(135deg, #012263, #b6b5b5);

    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
}

.innercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    max-width: 36rem;
    min-width: 18rem;
    min-height: 35rem;
    flex-direction: column;
    border: 2px solid black;
    gap: 1rem;
    box-shadow: 1px 1px 10px 5px black;
    border-radius: 0.6rem;
     background-color: rgb(235, 234, 234);

    
}

.maincontainer h1{
    font-size: 3rem;
}

.pcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    min-width: 10rem;
    text-align: center;
    font-size: 15px;
}


.btncontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    min-height: 5rem;
    /* background-color: antiquewhite; */
    gap: 1rem;
    flex-wrap: wrap;
    /* background-color: aliceblue; */
}

.btncontainer button{
    min-width: 6rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    background-color: #374151;
    color: #F9FAFB;
    border: none;
}
.btncontainer button:hover{
    background-color: #717c8f;
}
.recordContainer{
    width: 50%;
    height: 15rem;
    background-color: rgb(231, 230, 230);
    border: 1px solid black;
    overflow:auto;
}

/* @media (max-width: 567px) {
  .maincontainer h1{
    font-size: 2rem;
  }
}

@media (max-width: 377px) {
  .maincontainer h1{
    font-size: 1.3rem;
  }
}
 */

.status{
    font-weight: bolder;
    text-align: center;
}
